.about_cont {
  border: 1px solid cyan;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
  padding: 10px;
  h2 {
    font-size: 14px;
  }
}

.active {
  color: cyan;
  background-color: #3a3a3a;
  align-items: self-start;
  width: 120px;
  p {
    font-size: 4px;
  }
  transform: scale(7,7);
  -webkit-transform: scale(7,7);
  -moz-transform: scale(7,7);
}
